

#this file contains the parameters to model the bot

pair=USDT_BTC
exchange=Poloniex
period=300
# format month-day-year
start = '09-03-2017'   
end = '09-09-2017'


#Strategies

######---------kissMA----------###### 
#bot purchases when any of the 'kissLow' previous candles lowest price touches the lower BB and the moving average is not decreasing for the last 'kissMA' periods
#bot sells when any of the highest price of the previous 'kissHigh' candles touches the upper BB or if the purchase price is % 'kissStoploss' lower than the current price
#kissMA
kissLow=1
kissMA=1
kissHigh=1
kissStoploss=2

